.c-parrallax--container {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}

.c-parrallax--title {
    position: absolute;
    font-size: 4rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 700;
    color: rgb(48, 44, 75);
    font-family: Arial, Helvetica, sans-serif;
}

.c-parrallax--item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-position: center;
}

.c-parrallax--item_1 {
    background-image: url('../images/parrallax01.png');
    background-repeat: no-repeat;
}

.c-parrallax--item_2 {
    background-image: url('../images/parrallax02.png');
    background-repeat: no-repeat;
}

.c-parrallax--item_3 {
    background-image: url('../images/parrallax03.png');
    background-repeat: no-repeat;
}

.c-parrallax--item_4 {
    background-image: url('../images/parrallax04.png');
    background-repeat: no-repeat;
}

.c-parrallax--item_5 {
    background-image: url('../images/parrallax05.png');
    background-repeat: no-repeat;
}
